<section data-purpose="messaging-page">
    <h1>Messaging Page</h1>
    <div>
        User id = {{currentUser.id}}
    </div>
    <div ng-repeat="conversation in conversations">
        <ul>
            <li>
                <a href="" ng-click="switchConversation($index)">{{conversation.friend.first_name}}</a>
            </li>
            <b ng-if="conversation.newMessage">[NEW]</b>
            <em data-purpose="conversation-last-message">{{conversation.lastMessage.content}}</em>
        </ul>
    </div>

    <div ng-show="userHasConversations">
        <h2>Active Conv : </h2>
        <div data-purpose="active-conversation-header">
            {{activeConversation.friend.first_name}}
        </div>
        <h3>Messages : </h3>
        <div data-purpose="active-conversation-messages" class="active-conversation" scroll-glue>
            <div ng-repeat="message in activeMessages">
                <p ng-class="messageClass(message.user_id)" data-purpose="message">{{message.content}}</p>
            </div>
        </div>

        <div>
            <form ng-submit="sendMessage()">
                <input type="text" ng-model="message" data-purpose="message-input"/>
                <input type="submit" class="btn btn-primary" value="Submit" data-purpose="send-message-button">
            </form>
        </div>
    </div>
    <div ng-hide="userHasConversations" data-purpose="no-conversations-advice">
        You seem to have no conversations ! <br>
        Make some friends <a href="#/users">here</a> !
    </div>
</section>