<!-- Button trigger modal -->
<button type="button" class='btn btn-primary' data-toggle="modal" data-target="#add-friend" data-purpose="send-friend-request-button">
  <i class="fa fa-user-plus"></i> Add User </button>
</button>

<!-- Modal -->
<div class="modal fade" id="add-friend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Are you sure you want to block this friend?
        <%= form_tag friend_requests_path, action: 'create', method: 'post' do %>
            <%= hidden_field_tag :id, 'id', value: user.id %>
            <%= text_area_tag :message, "Hello #{user.email}, I'd like to add you as friend !" , class: 'form-control', 'data-purpose': 'friend-request-message' %>
            <%= submit_tag 'Send', class: 'btn btn-success', 'data-purpose': 'confirm-friend-request-button' %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <% end %>
      </div>
    </div>
  </div>
</div>