<h2>Account Overview</h2>
<span data-purpose="user-details"></span>
<%= "Hello #{@user.email}" %><br/>
<% if !@user.avatar.nil? %>
    <div><%= image_tag(@user.avatar, size: '200x200') %></div>
<% end %>

<% if current_user == @user %>
  <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-primary btn', method:'get', 'data-purpose':'edit-profile-button' %>
<% end %>

<%= friend_request_button(@user) %>