<!-- Trigger the modal with a button -->
<button type="button" data-purpose="register_form" class="btn btn-info btn" data-toggle="modal" data-target="#register_form">Register</button>
<%= render "pages/register" %>