<section data-purpose="home-page" class="home-page">

    <section data-purpose="welcome-info" class="welcome-info container">
        <header>
            <h1>Learnento</h1>
            <hr class="horizontal-sep">
            <p>Start your journey into the best way to learn english !</p>
            <a href="" class="btn btn-primary">Login</a> or <a href="" class="btn btn-primary">Register</a>
        </header>

        <article class="what-is-it">
            <h2>What is it?</h2>
            <p>Learnento stands for "Learn English Together"</p>
            <p>The purpose of this social network is to give you the possibility to get in touch with other
                people worldwide who doesn't speak your mother tongue. <br>
                Thus the only possibility to speak with them is in english !
            </p>

            <div class="advantages">
                <div class="row">
                    <div class="col-md-6 advantage">
                        <i class="fa fa-globe fa-4x" aria-hidden="true"></i>
                        Make friends all around the world</div>
                    <div class="col-md-6 advantage">
                        <i class="fa fa-book fa-4x" aria-hidden="true"></i>
                        Learn english in the fastest and in an effortless way
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 advantage">
                        <i class="fa fa-comments-o fa-4x" aria-hidden="true"></i>
                        Chat with thousands of people wanting to learn
                    </div>
                    <div class="col-md-6 advantage">
                        <i class="fa fa-video-camera fa-4x" aria-hidden="true"></i>
                        Improve your speaking skills with voice and video chat
                    </div>
                </div>
            </div>
        </article>

        <article class="how-to-start">
            <h2>Get started now !</h2>
            <div class="steps">
                <div class="row step"> <span class="step-number">1. </span> Create your account </div>
                <div class="row step"> <span class="step-number">2. </span> Find people that matches your hobbies and has something in common with you </div>
                <div class="row step"> <span class="step-number">3. </span> Start by chatting with them with a real-time messaging system </div>
                <div class="row step"> <span class="step-number">4. </span> Speak directly within your browser with a real-time video/vocal chat </div>
            </div>
        </article>
    </section>

    <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Learnento 2016
                    </div>
                </div>
            </div>
    </footer>
</section>