<section data-purpose="home-page" class="home-page">

    <section data-purpose="welcome-info" class="welcome-info">
        <header>

        </header>
    </section>

    <section data-purpose="utilisation-info" class="utilisation-info">
        <header>

        </header>
    </section>

    <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Learnento 2016
                    </div>
                </div>
            </div>
    </footer>
</section>