<h2>Log in</h2>

<form ng-controller="LoginController" ng-submit="handleLogin()">
    <fieldset class="form-group">
        <label for="email"><i class="fa fa-envelope"> Email</i></label>
        <input type="email" class="form-control" autofocus="true" data-purpose="login-email" ng-model="email">
    </fieldset>
    <fieldset class="form-group">
        <label for="password"><i class="fa fa-lock"></i> Password</label>
        <input type="password" autocomplete="off" class="form-control" data-purpose="login-password" ng-model="password">
    </fieldset>
    <input type="submit" class="btn btn-primary" data-purpose="login-confirmation" value="Login">
</form>