<section ng-controller="RegisterController" class="container user-register">
    <h2>Register and Learn English Today !</h2>

    <div ng-if="error_message" data-purpose="error-message" class="alert alert-danger" role="alert">
        <ul>{{error_message}}</ul>
    </div>

    <form ng-submit="handleRegister()">
        <fieldset class="form-group">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="email" autofocus="true" class="form-control" data-purpose="register-email" ng-model="email">
        </fieldset>
        <fieldset class="form-group">
            <label for="password"><i class="fa fa-lock"></i> Password</label>
            <input type="password" class="form-control" data-purpose="register-password" ng-model="password">
        </fieldset>
        <fieldset class="form-group">
            <label for=""><i class="fa fa-lock"></i> Password Confirmation</label>
            <input type="password" class="form-control" data-purpose="register-password-confirmation" ng-model="password_confirmation">
        </fieldset>
        <fieldset class="form-group register-button">
            <input type="submit" class="btn btn-primary" data-purpose="register-confirmation" value="Register">
        </fieldset>
    </form>
</section>