<section class="friendlist container">
    <h2>Friendlist</h2>
    <div data-purpose="friendlist">
        <div ng-repeat="friend in friends">
            <div data-purpose="friend" class="friend-infos">
                <img ng-src="{{friend.avatar.url}}" alt="friend-avatar" width="50" height="50">
                <a href="#/users/{{friend.id}}">{{friend.first_name}} {{friend.last_name}}</a><br>
                <span class="connection-status">
                    <span ng-if="friend.connected" class="connection-status-online">
                        <i class="fa fa-circle" aria-hidden="true"></i> Online
                    </span>
                    <span ng-if="!friend.connected" class="connection-status-offline">
                        <i class="fa fa-circle-o" aria-hidden="true"></i> Offline
                    </span>
                </span>
            </div>
        <span class="friend-removing">
            <!-- Button trigger modal -->
            <button type="button" class='btn btn-danger btn-xs' data-toggle="modal" data-target="#remove-friend" data-purpose="remove-friend-button">
                <span class="fa fa-times"></span> Delete </button>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="remove-friend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            Are you sure you want to delete {{friend.first_name}} from your friendlist?
                        </div>
                        <div class="modal-footer">
                            <form>
                                <input type="submit" value="Remove" class="btn btn-danger" data-purpose="confirm-remove-friend-button" data-dismiss="modal" ng-click="deleteFriend($index, friend.id)" />
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </span>

        <span class="friend-blocking">
            <!-- Button trigger modal -->
            <button type="button" class='btn btn-warning btn-xs' data-toggle="modal" data-target="#block-friend" data-purpose="block-friend-button">
                <span class="fa fa-lock"></span> Block </button>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="block-friend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            Are you sure you want to block this friend?
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" data-purpose="confirm-block-friend-button" data-dismiss="modal" ng-click="blockFriend($index, friend.id)">Block</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </span>
        </div>

        <br/>


        <div>
            <button class="btn btn-default btn-xs" role="button" data-toggle="collapse" data-target="#blockedFriends" data-purpose="blocked-friends-button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-arrow-down"></i> Show Blocked Users
            </button>
            <div class="collapse" id="blockedFriends">
                <h2>Blocked Friends</h2>
                <div data-purpose="blocked-friends">
                    <div ng-repeat="blocked in blockeds">
                        <div class="friend-infos" data-purpose="blocked">
                            <img ng-src="{{blocked.avatar.url}}" alt="friend-avatar" width="50" height="50">
                            <a href="#/users/{{blocked.id}}">{{blocked.first_name}} {{blocked.last_name}}</a>
                        </div>
                        <button class="btn btn-success btn-xs" data-purpose="unblock-friend-button" ng-click="unblockFriend($index, blocked.id)">Unblock</button>
                        <button class="btn btn-danger btn-xs" data-purpose="delete-blocked-button" ng-click="deleteFriend($index, blocked.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
</section>