$lred: #D66360;
$lgrey: #AFA8A2;
$lbackground: #F2F1ED;
$lblack: #333333;


@font-face {
  font-family: 'Aileron';
  src:font-url('aileron/Aileron-Light.otf');
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: $lbackground;
  color: $lblack;
  font-family: 'aileron';
}

// Button primary

.btn-custom-primary {
  background-color: $lred;
  border-color: #D66380;
}

.btn-custom-primary:hover,
.btn-custom-primary.hover {
  background-color: #d6453e;
  border-color: #D66380;
}

.btn-custom-primary:focus,
.btn-custom-primary.focus {
  background-color: #d6453e;
  border-color: #D66380;
}
.btn-custom-primary:active,
.btn-custom-primary.active {
  background-color: #d6453e;
  border-color: #D66380;
}