$lred: #D66360;
$lgrey: #AFA8A2;
$lbackground: #F2F1ED;
$lblack: #333333;



.messaging-page {
  .conversations-panel {
    margin-top: 4rem;
    margin-right: -12rem;
    margin-left: -3rem;

    .avatar {
      border: solid 2px $lred;
    }

    .new-message-icon {
      color: $lred;
    }
  }

  .conversations-panel-item {
    margin: 1rem 0rem;
  }

  .active-conversation {
    .active-conversation-header {
      text-align: center;

      #own-video {
        width: 100px;
      }

      #peer-video {
        width: 200px;
      }
    }

    .active-conversation-avatar{
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
    .active-conversation-title {
      display: inline;
    }

    .active-conversation-icon{
      margin-bottom: 1rem;
      margin-left: 1rem;
    }

    .message-sender {
      margin-left: 11rem;
      margin-top: 3rem;

      .send-message-button {
        margin-left: 2rem;
      }
    }
  }

}


.conversation-content
{
  height: 400px; // Set this height to the appropriate size
  overflow-y: scroll; // Only add scroll to vertical column
  padding: 0rem 3rem;
}

.message-current
{
  text-align: right;
  .message-content {
    background-color: $lgrey;
  }
}

.message-other
{
  text-align: left;
  .message-content {
    background-color: $lred;
  }
}

.message-content {
  -webkit-border-radius: 19px;
  -moz-border-radius: 19px;
  border-radius: 19px;
  color: #ffffff;
  padding: 0.5rem 1rem;
}