<section data-purpose="profile-edition">
    <h2>Edit your profile</h2>

    <div ng-if="success_message" data-purpose="success-message" class="alert alert-success" role="alert">
        <ul>{{success_message}}</ul>
    </div>

    <form ng-submit="handleEdit()">
        <fieldset class="form-group">
            <label for="first-name">First name</label>
            <input type="text" ng-value="firstname" class="form-control" autofocus="true" data-purpose="first-name-input" ng-model="firstname">
        </fieldset>
        <fieldset class="form-group">
            <label for="last-name">Last name</label>
            <input type="text" class="form-control" ng-value="lastname" data-purpose="last-name-input" ng-model="lastname">
        </fieldset>
        <fieldset class="form-group">
            <label for="avatar">Avatar</label>
            <input type="file" name="avatar" class="file" ng-model="avatar" data-purpose="avatar-input" base-sixty-four-input>
        </fieldset>
        <input type="submit" class="btn btn-primary" data-purpose="confirm-edition-button" value="Edit">
    </form>
</section>