<article>
    <h1 data-purpose="learners-index">Learners</h1>

    <header>
        <h1 class="h2">Search</h1>
    </header>

    <section class="search-form">
        <form>
            <div class="input-group input-group-lg">
                <label for="keywords" class="sr-only">Keywords</label>
                <input type="text" name="keywords" ng-change="search(keywords)" class="form-control input-lg" placeholder="Firstname or Lastname" ng-model="keywords" data-purpose="search-user-input">
            </div>
        </form>
        <h1 ng-if="searchedFor">
            <span>You searched for : {{searchedFor}}</span>
        </h1>
    </section>

    <section>
        <header class="search-results">
            <h1 class="h3">Results</h1>
        </header>
        <nav>
            <ul class="pager">
                <li class="previous">
                    <a href="" ng-hide="zeroPage()" ng-click="previousPage()">&larr; Previous</a>
                </li>
                <li class="next">
                    <a href="" ng-show="users.length == 10 " ng-click="nextPage()">Next &rarr;</a>
                </li>
            </ul>
        </nav>
        <div data-purpose="user-list">
            <ol class="list-group">
                <li class="list-group-item clearfix" ng-repeat="user in users" data-purpose="user">
                    <h3 class="pull-right">
                        <small class="text-uppercase">Joined</small>
                        {{user.created_at | date}}
                    </h3>
                    <h2 class="h3"><a data-purpose="user-profile-button" href="{{userLink(user.id)}}">{{user.first_name}} {{user.last_name}}</a></h2>
                    <h4>{{user.email}}</h4>
                </li>
            </ol>
        </div>
        <nav>
            <ul class="pager">
                <li class="previous">
                    <a href="" ng-hide="zeroPage()" ng-click="previousPage()">&larr; Previous</a>
                </li>
                <li class="next">
                    <a href="" ng-show="users.length == 10 " ng-click="nextPage()">Next &rarr;</a>
                </li>
            </ul>
        </nav>
    </section>
</article>
