<section data-purpose="profile-page" class="profile-page container">
    <h1 data-purpose="first-name"> {{user.first_name}} {{user.last_name}} </h1>
    <div data-purpose="user-details">
        <li>{{user.email}}</li>
    </div>
    <div class="avatar">
        <img ng-src="{{user.avatar.url}}" alt="" height="100" width="100">
    </div>
    <a data-purpose="edit-profile-button" ng-show="editButton" class="btn btn-primary" href="#/users/edit/{{user.id}}"> Edit </a>
    <a data-purpose="pending-friend-request-button" ng-show="pendingButton" class="btn btn-primary disabled" >Pending</a>

    <div ng-show="addFriendButton">
        <!-- Button trigger modal -->
        <button type="button" class='btn btn-primary' data-toggle="modal" data-target="#add-friend" data-purpose="send-friend-request-button">
            <i class="fa fa-user-plus"></i> Add User </button>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="add-friend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        Send {{user.first_name}} a friend request !
                        <form>
                            <textarea ng-model="requestMessage" ng-value="requestMessage" name="message" class="form-control" data-purpose="friend-request-message"></textarea><br/>
                            <input type="submit" value="Send" class="btn btn-success" data-purpose="confirm-friend-request-button" data-dismiss="modal" ng-click="handleFriendRequest()">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>