<section data-purpose="friend-requests">

    <h2>Friend Requests</h2>
    <div ng-repeat="request in requests" data-purpose="friend-request">
        <p>{{request.email}} has added you ! </p>
        <div class="panel panel-default">
            <div class="panel-body" data-purpose="friend-request-message">
               {{request.message}}
            </div>
        </div>
    </div>

    <h2>Pending Requests</h2>
    <ul>
        <li ng-repeat="pending in pendings">
            <div data-purpose="pending-request">
                <p>{{pending.email}}</p>
            </div>
        </li>
    </ul>
</section>