<section data-purpose="friend-requests">

    <h2>Friend Requests</h2>
    <div ng-repeat="request in requests" data-purpose="friend-request">
        <p>{{request.email}} has added you ! </p>
        <div class="panel panel-default">
            <div class="panel-body" data-purpose="friend-request-message">
               {{request.message}}
            </div>
        </div>
        <a ng-click="acceptRequest($index, request.id)" class="btn btn-success btn-xs" data-purpose="accept-friend-request-button"><span class="fa fa-check"></span> Accept </a>
        <a ng-click="declineRequest($index, request.id)" class="btn btn-danger btn-xs" data-purpose="decline-friend-request-button"><span class="fa fa-times"></span> Decline </a>
    </div>

    <h2>Pending Requests</h2>
    <ul>
        <li ng-repeat="pending in pendings">
            <div data-purpose="pending-request">
                <p>{{pending.email}}</p>
            </div>
            <a ng-click="cancelRequest($index, pending.id)" class="btn btn-danger btn-xs" data-purpose="cancel-friend-request-button"><span class="fa fa-times"></span> Cancel</a>
        </li>
    </ul>
</section>